@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply font-serif
    
  }

  .bg-primary {
    background-color: #8D561E;
  }

  .bg-secondary {
    background-color: #E2A354;
  }
/* 
  .bg-input {
    background-color: [#F2F2F5];
  } */
  .bg-success{
    background-color: #E7F8F0;
    color: #27AE60;
  }
  .bg-grey {
    background-color: #F2F2F5;
  }
  .bg-lightPrimary{
    background-color: #F1E2D3;
  }
  .text-light-primary{
    color: #F1E2D3;
  }

  .login label,
  .reset {
    font-optical-sizing: auto;
    font-weight: weight;
    font-size: 14px;
    font-style: normal;
  }

  .loginText, button {
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
  }
  .sidebar nav .active{
    background-color: #F1E2D3;
    border-radius: 50px;
    color: #8D561E;
  }

  .hotelForm div div p{
    color: red;
    font-size: 14px;
  }
 
  .activeView{
    padding: 0 0.5rem;
    background-color: white;
    height: 2rem;
    border-radius: 50%;
    justify-items: center;
  }
}