@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply font-serif;
  }

  .bg-primary {
    background-color: #8d561e;
  }

  .bg-secondary {
    background-color: #e2a354;
  }
  /* 
  .bg-input {
    background-color: [#F2F2F5];
  } */
  .bg-success {
    background-color: #e7f8f0;
    color: #27ae60;
  }
  .bg-grey {
    background-color: #f2f2f5;
  }
  .bg-lightPrimary {
    background-color: #f1e2d3;
  }
  .text-light-primary {
    color: #f1e2d3;
  }

  .text-primary {
    color: #8d561e;
  }

  .login label,
  .reset {
    font-optical-sizing: auto;
    font-weight: weight;
    font-size: 14px;
    font-style: normal;
  }

  .loginText,
  button {
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
  }
  .sidebar nav .active {
    background-color: #f1e2d3;
    border-radius: 50px;
    color: #8d561e;
  }

  .hotelForm div div p {
    color: red;
    font-size: 14px;
  }

  .activeView {
    padding: 0 0.5rem;
    background-color: white;
    height: 2rem;
    border-radius: 50%;
    justify-items: center;
  }

    .pagination {
        @apply flex gap-2 items-center        
    }
    
    .pagination .active {
        @apply bg-lightPrimary text-primary
    }
    .pagination .page-item {
        @apply hover:bg-gray-200 px-[14px] py-[8px] rounded-[8px]
    }
  
}
